<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a href="#" class="navbar-brand">ANGULAR MFE ROOT</a>
  </div>  
</nav>
<!-- Toolbar -->
<div class="content container bg-light p-5" role="main">
  <div class="row">
      <div class="col-12">
        <h6>Component Loaded from:<a [href]="elementUrlUser" target="blank"><i>{{elementUrlUser}}</i></a></h6>
        
        <angular-sub-mfe-user *axLazyElement="elementUrlUser; errorTemplate: error"></angular-sub-mfe-user>
        <ng-template #error>Loading of AppVault MFE Failed...</ng-template>
      </div>
      <div class="col-12">
        <h6>Component Loaded from:<a [href]="elementUrlUserDetails" target="blank"><i>{{elementUrlUserDetails}}</i></a></h6>
        <angular-sub-mfe-user-details *axLazyElement="elementUrlUserDetails; errorTemplate: error"></angular-sub-mfe-user-details>
        <ng-template #error>Loading of AppVault MFE Failed...</ng-template>
      
      </div>
    </div>
</div>

<router-outlet></router-outlet>
